################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/OrcHestrador.WorkerService/.vs/OrcHestrador.WorkerService
/src/OrcHestrador.WorkerService/OrcHestrador.WorkerService/obj
/src/OrcHestrador.ApiClient/obj
/src/OrcHestrador.Domain/obj
/src/OrcHestrador.Infra/obj
/src/OrcHestrador.UserStories/obj
/src/OrcHestrador.WorkerService/.vs/ProjectEvaluation
/src/OrcHestrador.WorkerService/obj
/src/OrcHestrador.WorkerService/OrcHestrador.WorkerService.csproj.user
/bin/Debug
/obj
/src/OrcHestrador.ApiClient/bin/Debug/net6.0
/src/OrcHestrador.Domain/bin/Debug/net6.0
/src/OrcHestrador.Infra/bin/Debug/net6.0
/src/OrcHestrador.UserStories/bin/Debug/net6.0
/src/OrcHestrador.WorkerService/bin/Debug/net6.0
/src/OrcHestrador.WebApi/obj
/src/OrcHestrador.WebApi/bin/Debug/net6.0
*.user
/bin/Release
/src/OrcHestrador.ApiClient/bin/Release/net6.0
/src/OrcHestrador.Domain/bin/Release/net6.0
/src/OrcHestrador.Infra/bin/Release/net6.0
/src/OrcHestrador.UserStories/bin/Release/net6.0
/src/OrcHestrador.WebApi/bin/Release/net6.0/runtimes
/src/OrcHestrador.WebApi/bin/Release/net6.0
/src/OrcHestrador.WorkerService/bin/Release/net6.0
